.photo-slider {
  margin-top:20px;
  display:inline-block;
  text-align: center;
  overflow: hidden;
  ul[rn-carousel]{
	max-width:801px;
	max-height:569px;
	min-width:220px;
	min-height:200px;
	margin: 0 auto;

	li{
	  .bgimage {
		text-align:right;
		color:white;
		background-size:cover;
		height: 100%;
		border: 2px solid #e3e3e3;
	  }
	}
  }
  .circles-links{
	span{
	  font-size: 25pt;
	  color: rgb(100, 100, 225);
	  text-shadow:0px 0px 0 rgb(14,36,165),-1px 1px 0 rgb(29,21,150),-2px 2px 0 rgb(43,7,136),-3px 3px 0 rgb(58,8,121),-4px 4px 0 rgb(72,22,107),-5px 5px 0 rgb(87,37,92), -6px 6px 0 rgb(101,51,78),-7px 7px 6px rgba(0,0,0,0.55),-7px 7px 1px rgba(0,0,0,0.5),0px 0px 6px rgba(0,0,0,.2);
	  &.active{
		color: rgb(31, 31, 160);
	  }
	}
  }
}
