<div class="row">
	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 photo-slider">

		<div class="carousel-demo">
			<ul rn-carousel rn-carousel-index="vm.carouselIndex2" rn-carousel-transition="hexagon" rn-carousel-buffered
				rn-carousel-auto-slide class="carousel3">
				<li ng-repeat="slide in vm.collectedImages track by slide.id">
					<div ng-style="{'background-image': 'url(' + slide.src + ')'}" class="bgimage">
						#{{ slide.id }}
					</div>
				</li>
			</ul>
		</div>
		<div rn-carousel-indicators ng-if="vm.collectedImages.length > 1" slides="vm.collectedImages" rn-carousel-index="vm.carouselIndex2"></div>
	</div>
</div>
