<div class="row">
	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 photo-slider">
			<ul rn-carousel rn-carousel-index="vm.carouselIndex2" rn-carousel-transition="hexagon" rn-carousel-buffered
				rn-carousel-auto-slide="8">
				<li ng-repeat="slide in vm.collectedImages track by slide.id">
					<div ng-style="{'background-image': 'url(' + slide.src + ')'}" class="bgimage"></div>
				</li>
			</ul>
		<div rn-carousel-indicators
			 class="circles-links"
			 ng-if="vm.collectedImages.length > 1" slides="vm.collectedImages"
			 rn-carousel-index="vm.carouselIndex2"></div>
	</div>
	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 last-posts">
		<div class="row">
			<div class="col-xs-1 col-sm-1 col-md-1 col-lg-1"></div>
			<div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
				<ul>
					<li ng-repeat="post in vm.lastPosts">
						<div class="post-container">
							<img src="{{post.thumbnail}}" alt="{{post.title}}">
						</div>
					</li>
				</ul>
			</div>
			<div class="col-xs-1 col-sm-1 col-md-1 col-lg-1"></div>
		</div>
	</div>
</div>
